<h1>Thank you for your input</h1>
<p>You added the following contact:</p>
First Name: <%= @contact[:first_name] %><br>
Last Name: <%= @contact[:last_name] %><br>
Phone: <%= @contact[:phone_number] %><br>
Email: <%= @contact[:email] %> 


