<h1 class = "text-center">Welcome to contacts database</h1>
<%= form_tag "/contacts/search", method: :post do %>
Search: <input type = "text" name = "search">
<input type = "submit" name = "submit">
<% end %>



<div class = "container-fluid">
  <div class = "row">
    <div class = "col-xs-4">
<p>The list of all contacts is as follows:</p>
<% @contacts.each do |person| %>
  <%= "#{person.first_name} #{person.last_name} : #{person.japan_phone} , #{person.email} "%>
  <br>
  <% end %>
    </div>
    <div class = "col-xs-4">
    <p>This is second column</p>
    </div>
    <div class = "col-xs-4">
    <p>this should be third column</p>
    </div>
    </div>
    </div>

    
